---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import Work from '../components/sections/Work.astro';
import Education from '../components/sections/Education.astro';
import Projects from '../components/sections/Projects.astro';
import Achievements from '../components/sections/Achievements.astro';
// import Blog from '../components/sections/Blog.astro';
import Contact from '../components/sections/Contact.astro';

import '../styles/global.css';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Work />
    <Projects />
    <Education />
    <Achievements />
    {/* <Blog /> */}
    <Contact />
  </main>
  <Footer />
</Layout>
